__pycache__/
.ipynb_checkpoints/
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
GUI/.DS_Store
GUI/.DS_Store
data/~$2019-nCoV.xlsx
.DS_Store
GUI/.DS_Store
.DS_Store
.DS_Store
GUI/.DS_Store
*.PNG
*.PNG
GUI/.DS_Store
notebook/.my_cgrs.npy.icloud
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
data/.Caudovirales.xlsx.icloud
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
GUI/.DS_Store
GUI/.DS_Store
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
notebook/Untitled.ipynb
