__pycache__/
.ipynb_checkpoints/
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
GUI/.DS_Store
GUI/.DS_Store
data/~$2019-nCoV.xlsx
.DS_Store
GUI/.DS_Store
.DS_Store
.DS_Store
GUI/.DS_Store
GUI/.DS_Store
notebook/.my_cgrs.npy.icloud
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
data/.Caudovirales.xlsx.icloud
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
GUI/.DS_Store
GUI/.DS_Store
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
notebook/Untitled.ipynb
.DS_Store
GUI/.DS_Store
notebook/1.PNG
notebook/11mer.jf
notebook/2.PNG
notebook/2.PNG
notebook/1.PNG
notebook/11mer.jf
GUI/.DS_Store
.DS_Store
notebook/._CGR.m
notebook/1.PNG
notebook/1.PNG
scripts/._CGR.m
scripts/._cgrDft
scripts/cgrDft/._cgrDft.m
scripts/cgrDft/._evenScaleVector.m
scripts/cgrDft/._getEDistance.m
scripts/cgrDft/._HPV.fasta
scripts/cgrDft/._HRV.fasta
scripts/cgrDft/._Influenza.fasta
scripts/cgrDft/._license.txt
scripts/cgrDft/._Main.m
scripts/cgrDft/._Mammals.fasta
scripts/cgrDft/._ReadMe.txt
scripts/cgrDft/._Running Time.txt
scripts/cgrDft/._TestCgrDft.m
data/._2019-nCoV.xlsx
data/._Sierpinski_Chaos.gif
data/._~$2019-nCoV.xlsx
data/._Adenoviridae.xlsx
data/._stream.py
data/view_1.jpg
data/view_2.jpg
notebook/BTC_VMD.ipynb
notebook/._classification.ipynb
*.xlsx
